:root {
    --num-images-per-row: 3;

    --gap-items: 1.5rem;
    --gap-images: 5vw;

    --color-correct: #1fa10e;
    --color-wrong: #c51913;
    --color-highlight: #0ea188;
    --color-background: #eeeeee;
    --color-background-header: #525252;
    --color-background-modal: rgba(0, 0, 0, 0.8);
    --color-text: #000000;
    --color-text-header: #ffffff;

    --font-family: 'Noteworthy', 'Open Sans', 'Apple SD Gothic Neo', 'Calibri', 'Helvetica Neue';
    --font-size-normal: 20px;
    --font-size-small: 16px;
    --font-size-tags: 10px;

    --height-header: 40px;

    --width-content: 90%;

    --quiz-table-padding: 10px;

    --periodic-table-icon-size: 6vh;
    --periodic-table-icon-radius: 0.5vh;
    --periodic-table-icon-gap: 1vh;

    --list-indent: 1.25em;

    --image-max-width: calc((100% - (var(--num-images-per-row) - 1) * var(--gap-images)) / var(--num-images-per-row));
    --image-max-height: calc(100vh - (var(--height-header) + var(--gap-items) + var(--font-size-normal) + var(--gap-items) + 1px + var(--gap-items) + var(--gap-items) + var(--line-height) + 5px));

    --big-image-max-width: 100%;
    --big-image-max-height: calc(100vh - (var(--height-header) + var(--gap-items) + var(--gap-items) + var(--line-height) + 5px));

    --line-height: 1.25em;

    --underline-offset: 0.15em;
}

body.nightMode {
    --color-background: #2f2f31;
    --color-text: #ffffff;
}

body.mobile {
    --num-images-per-row: 1;
}

/* RESET START */
#qa {
    padding: 0 !important;
}

img {
    display: block;

    max-width: unset;
    max-height: unset;
}
/* RESET END */

.cloze {
    color: var(--color-highlight);
}

body {
    margin: 0;

    background-color: var(--color-background) !important;

    font-family: var(--font-family);
    font-size: var(--font-size-normal);
    line-height: var(--line-height);
    text-underline-offset: var(--underline-offset);
    color: var(--color-text) !important;

    cursor: default;

    overflow-y: scroll;
}

.header {
    width: 100%;
    height: var(--height-header);

    background-color: var(--color-background-header);

    color: var(--color-text-header);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header > .type {
    font-size: var(--font-size-small);
    line-height: var(--line-height);

    margin-left: calc((100% - var(--width-content)) / 2);
}

.header > .tags {
    font-size: var(--font-size-tags);
    line-height: var(--line-height);

    margin-right: calc((100% - var(--width-content)) / 2);
}

.body {
    width: var(--width-content);

    margin: var(--gap-items) auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-items);

    text-align: center;
}

.body > hr {
    width: 100%;
    height: 1px;

    border: 0;

    margin: 0;

    background-color: var(--color-text);
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul + ul,
ul + ol,
ol + ol,
ol + ul {
    margin: 1em 0;
}

ul > ul,
ul > ol,
ol > ul,
ol > ol {
    padding-inline-start: var(--list-indent);

    counter-reset: step-counter;
}

ul > li,
ol > li {
    padding-inline-start: var(--list-indent);

    position: relative;

    counter-increment: step-counter;
}

ul > li::before,
ol > li::before {
    position: absolute;
    top: 0;
    left: 0;
}

ul > li::before {
    content: '\2022';
}

ol > li::before {
    content: counter(step-counter) '.';
}

sup,
sub {
    line-height: 0;
}

input[type='checkbox'] {
    font-size: inherit;

    width: var(--line-height);
    height: var(--line-height);
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    appearance: none;
    border: 1px solid var(--color-background-header);
    border-radius: 0;

    position: relative;

    display: block;

    cursor: pointer;

    background-color: var(--color-background);
}

input[type='checkbox']:disabled {
    cursor: default;
}

input[type='checkbox']:checked::before {
    content: '';

    display: block;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    clip-path: polygon(10% 0%, 0% 0%, 0% 10%, 40% 50%, 0% 90%, 0% 100%, 10% 100%, 50% 60%, 90% 100%, 100% 100%, 100% 90%, 60% 50%, 100% 10%, 100% 0%, 90% 0%, 50% 40%);

    background-color: var(--color-text);
}

label {
    user-select: none;
    -webkit-user-select: none;
}

.body > .additional-infos {
    font-style: italic;
    font-size: var(--font-size-small);
    line-height: var(--line-height);
}

.body > .examples {
    font-size: var(--font-size-small);
    line-height: var(--line-height);

    display: flex;
    flex-direction: row;
    gap: 1em;
}

.body > .images {
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap-images);

    justify-content: center;
    align-items: center;
}

.body > .big-image {
    width: 100%;

    justify-content: center;
}

.body > .images > img,
.body > .images > svg {
    max-width: var(--image-max-width);
    max-height: var(--image-max-height);
    width: 100%;

    object-fit: contain;
}

.body > .big-image > img,
.body > .big-image > svg {
    max-width: var(--big-image-max-width);
    max-height: var(--big-image-max-height);
    width: 100%;
    height: 100%;

    object-fit: contain;
}

.body > .images > section {
    flex-basis: var(--image-max-width);

    text-align: center;
    font-size: var(--font-size-small);
    line-height: var(--line-height);
}

.body > .images > section > img,
.body > .images > section > svg {
    max-width: 100%;
    max-height: var(--image-max-height);
    width: 100%;

    object-fit: contain;
}

.body > .images img:not(:only-child),
.body > .images svg:not(:only-child) {
    padding-bottom: calc(var(--line-height) / 2);
}

/* MODAL START */
.body > .images img {
    cursor: zoom-in;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 2 * var(--gap-items));
    height: calc(100% - 2 * var(--gap-items));

    padding: var(--gap-items);

    z-index: 1;
    background-color: var(--color-background-modal);

    cursor: zoom-out;
}

.modal > img {
    max-width: 100%;
    max-height: 100%;
    background-color: var(--color-background);

    cursor: default;
}
/* MODAL END */

/* PERIODIC TABLE START */
.periodic-table {
    display: grid;
    gap: var(--periodic-table-icon-gap);

    list-style-type: none;
}
.periodic-table > li {
    height: var(--periodic-table-icon-size);
    width: var(--periodic-table-icon-size);

    border-radius: var(--periodic-table-icon-radius);

    background: var(--color-background-header);

    display: block;
}
.periodic-table > li.active {
    background: var(--color-highlight);
}
.periodic-table > li#He {
    grid-column: 18;
}
.periodic-table > li#B,
.periodic-table > li#Al {
    grid-column: 13;
}
.periodic-table > li#Ce,
.periodic-table > li#Th {
    grid-column: 4;
}
.periodic-table > li#Pr,
.periodic-table > li#Pa {
    grid-column: 5;
}
.periodic-table > li#Nd,
.periodic-table > li#U {
    grid-column: 6;
}
.periodic-table > li#Pm,
.periodic-table > li#Np {
    grid-column: 7;
}
.periodic-table > li#Sm,
.periodic-table > li#Pu {
    grid-column: 8;
}
.periodic-table > li#Eu,
.periodic-table > li#Am {
    grid-column: 9;
}
.periodic-table > li#Gd,
.periodic-table > li#Cm {
    grid-column: 10;
}
.periodic-table > li#Tb,
.periodic-table > li#Bk {
    grid-column: 11;
}
.periodic-table > li#Dy,
.periodic-table > li#Cf {
    grid-column: 12;
}
.periodic-table > li#Ho,
.periodic-table > li#Es {
    grid-column: 13;
}
.periodic-table > li#Er,
.periodic-table > li#Fm {
    grid-column: 14;
}
.periodic-table > li#Tm,
.periodic-table > li#Md {
    grid-column: 15;
}
.periodic-table > li#Yb,
.periodic-table > li#No {
    grid-column: 16;
}
.periodic-table > li#Lu,
.periodic-table > li#Lr {
    grid-column: 17;
}
.periodic-table > li:nth-child(n + 58):nth-child(-n + 71) {
    grid-row: 9;
}
.periodic-table > li:nth-child(n + 90):nth-child(-n + 103) {
    grid-row: 10;
}
/* PERIODIC TABLE END */

/* QUIZ START */
table.quiz {
    width: 100%;
    max-width: 800px;

    margin: 0 auto;

    border-collapse: collapse;
}

table.quiz td {
    border: 1px solid var(--color-background-header);

    padding: var(--quiz-table-padding);

    text-align: left;
    vertical-align: top;
}

table.quiz td > label {
    text-decoration-style: wavy !important;
    text-decoration-color: rgba(var(--text-color-rgb), 0.5);
}

table.quiz td:not(:last-of-type) {
    width: 1rem;
}

table.quiz tr.correct > td:not(:last-of-type) {
    background-color: var(--color-correct);
}

table.quiz tr.wrong > td:not(:last-of-type) {
    background-color: var(--color-wrong);
}

table.quiz span.explanation {
    display: block;

    color: var(--color-background-header);
    font-style: italic;
    font-size: var(--font-size-small);
    line-height: var(--line-height);
}
/* QUIZ END */

/* IMAGE OCCLUSION START */
#io-overlay {
    position: absolute;
    top: 0;

    width: 100%;

    z-index: 3;
}

#io-original {
    position: relative;
    top: 0;

    width: 100%;

    z-index: 2;

    visibility: hidden;
}

#io-wrapper > div > img {
    max-width: 100%;
    max-height: calc(100vh - var(--height-header) - var(--gap-items) - var(--line-height) - var(--gap-items) - var(--gap-items));
}

#io-wrapper {
    position: relative;
}

#io-revl-btn {
    font-size: var(--font-size-small);
    line-height: var(--line-height);
}
/* IMAGE OCCLUSION END */

/* AMBOSS START */
.amboss-marker {
    cursor: help;
    border: unset !important;
}

:not(sub, sup) > .amboss-marker {
    text-decoration: underline;
    text-decoration-color: var(--color-highlight);
}
/* AMBOSS END */
